<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">

    <a class="navbar-brand" routerLink="about" (click)="changeLink1()">Mohammed Riaz Khan</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

          <li class="nav-item active" id="aboutLink">
              <a class="nav-link" routerLink="about" (click)="changeLink1()">About Me</a>
          </li>

          <li class="nav-item" id="projectsLink">
              <a class="nav-link" routerLink="projects" (click)="changeLink2()">Projects</a>
          </li>
      </ul>
    </div>

</nav>