<div class="container">
<div class="landing"> 
    <div class="row">
      
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4 style="visibility:hidden">Hello</h4>
        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h3>Hello,</h3>
            <h5>My name is <strong style="color:white">Mohammed Riaz Khan</strong>, I am a Software Development Student</h5>
            <h5>At Cape Peninsula University of Technology.</h5>
            <br />
            <img src="./assets/me.jpg" width="180px" height="180px" class="img-fluid rounded-circle" id="logo"/>
            <div id="links">
        


                    <a href="https://github.com/MohammedRiazKhan"><i class="fa fa-github fa-2x" style="color:white" aria-hidden="true" id="gh" ></i></a>
            <a href="https://www.linkedin.com/in/mohammed-riaz-khan-b071a515a/"><i class="fa fa-linkedin fa-2x" style="color:white" aria-hidden="true" id="linkedIn"> </i></a>
            </div>
            
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h4 style="visibility:hidden">Hello</h4>
          </div>
    </div>

</div>

<div class="skills">
        <h4 style="text-align:left; font-weight:bold; margin-top:25px; margin-left:40px">My Skills</h4>
  <div class="row">
    
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5 class="skillz">Languages</h5>

        <ul class="bargraph">
            <li class="ab">Java Core  <span class="perc">90%</span></li>
            <li class="b">Java Swing <span class="perc">85%</span></li>
            <li class="c">SQL<span class="perc">80%</span></li>
            <li class="d">HTML5<span class="perc">100%</span></li>
            <li class="e">CSS<span class="perc">75%</span></li>
            <li class="f">JavaScript<span class="perc">80%</span></li>
            <li class="g">Android<span class="perc">70%</span></li>
            <li class="h">C#<span class="perc">79%</span></li>
        </ul>

    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5 class="skillz">Frameworks</h5>

        <ul class="bargraph">
            <li class="r">Spring<span class="perc">60%</span></li>
            <li class="i">ASP.NET MVC<span class="perc">70%</span></li>
            <li class="p">Angular 7<span class="perc">60%</span></li>
            <li class="q">Bootstrap<span class="perc">75%</span></li> 
        </ul>

        
    </div>

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h5 class="skillz">Technologies & Tools</h5>

        <ul class="bargraph">
            <li class="j">Git<span class="perc">90%</span></li>
            <li class="l">Office<span class="perc">85%</span></li>
            <li class="m">Photoshop<span class="perc">80%</span></li>
            <li class="n">Maven<span class="perc">70%</span></li>
            <li class="o">JUnit<span class="perc">70%</span></li>
        </ul>


      </div>

    </div>

</div>

</div>