<div class="container-fluid">

    <h4 style="text-align:left; font-weight:bold; margin-top:20px; margin-bottom: 25px ;margin-left:0px">My Projects</h4>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project b">
      <h3 class="head">DvDRental</h3>

      <p>Basic DvDRental System made using Java Swing for our ADP2 Project</p>
      <p><small><a href="https://github.com/MohammedRiazKhan/DvDRental">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project">
      <h3 class="head">Client-Server_Db_DvdRental</h3>

      <p>A DvdRental system for a Small business who is starting up, makes use of a Client and a Server which manipulates a database</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/Client-Server_Db_DvdRental">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project b">
      <h3 class="head">HealthIndex</h3>

      <p>A health information and body mass index calculator which generates workouts and diet recommendations based on the result. As well as providing basic health information. Available on Play Store</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/HealthIndex">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project">
      <h3 class="head">CMSystem</h3>

      <p>Catering Management System was developed for Project 2 Assignment.</p>
      <p><small><a href="https://github.com/MohammedRiazKhan/CMSystem">Link to project on GitHub</a></small></p>
      </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project b">
      <h3 class="head">MovieRentalMVC5</h3>

      <p>Movie rental for small businesses made using ASP.NET MVC5</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/MovieRentalMVC5">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project">
      <h3 class="head">WaterInitiativeStaticSite</h3>

      <p>A static website made by our group to raise awareness about water, for Project1 and Multimedia</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/WaterInitiativeStaticSite">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project b">
      <h3 class="head">StaticPortfolioWebsite</h3>

      <p>A static website portfolio for MAF152S to display any web and software projects i had made that year.</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/StaticPortfolioWebsite">Link to project on GitHub</a></small></p>
    </div>
  </div>

  <div class="row card">
    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12" class="project">
      <h3 class="head">angularportfolio</h3>

      <p>Responsive portofolio written with angular and bootstrap</p>
      <p><small> <a href="https://github.com/MohammedRiazKhan/angular-portfolio">Link to project on GitHub</a></small></p>
    </div>
  </div>

</div>
